# Environment variables and secrets
.env

# SQLite Databases & WAL files
*.db
*.db-shm
*.db-wal
*.sqlite3

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# OS / Editor Files
.DS_Store
Thumbs.db
.vscode/
.idea/
